<div style="text-align:center">
  <h1>Rock Paper Scissors!</h1>
  <h2>Let the game begin!</h2>

  <div class="icons">
    <div class="rock" (click)="click('rock')"></div>
    <div class="paper" (click)="click('paper')"></div>
    <div class="scissors" (click)="click('scissors')"></div>
  </div>

  <div class="play">
    <div [class]="data.user"></div>
    <div class="vs"></div>
    <div [class]="data.computer"></div>
  </div>

  <h2 *ngIf="data.result === 'win'">You Won!</h2>
  <h2 *ngIf="data.result === 'loose'">You Lost!</h2>
  <h2 *ngIf="data.result === 'draw'">Its a Draw!</h2>

  <h2 class="results" *ngIf="data.count">Your Score: {{data.win - data.loose}}</h2>

</div>

